{% extends "base.html" %}

{% block content %}
<div class="container py-5">
    <h1>Insights</h1>
    <div class="row">
        <div class="col-md-8">
            <h3>Featured</h3>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">{{ hero_article.title }}</h5>
                    <p class="card-text">{{ hero_article.excerpt }}</p>
                    <small class="text-muted">{{ hero_article.category.name }} | {{ hero_article.read_time }} min read</small>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
